doctype html 
html(lang="ru")
    head 
        include modules/head
    body 
        include modules/header
        include modules/offer 
        include modules/model
        include modules/asortiment 
        include modules/advantarges 
        include modules/total
        include modules/shop
        include modules/types
        include modules/format
        include modules/start 
        include modules/invest
        include modules/result
        include modules/francize  
        include modules/footer
        include modules/modals
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(type="text/javascript" src="js/slick.min.js")
    script(src="https://unpkg.com/imask")
    script(src="../js/formprocessor.js") 
    script(src="../js/jquery.validate.js")
    script(src="../js/jquery.inputmask.bundle.min.js") 
    script(type='text/javascript' src='https://api-maps.yandex.ru/2.1/?apikey=c3472711-0044-40b4-92fe-e8200d2156a0&load=package.map&lang=ru-RU&ver=2.' id='yamapsapi-js')
    script(type="text/javascript" src="js/main.js")