doctype html 
html(lang="ru")
    head 
        include modules/head
    body 
        include modules/header
        include modules/offer 
        include modules/model
        include modules/asortiment 
        include modules/advantarges
        include modules/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(type="text/javascript" src="js/slick.min.js")
    script(type="text/javascript" src="js/main.js")