block advantarges
    section.advantarges(style="background-image:url(img/advantages/bg.jpg);")
        .container 
            .advantarges-top 
                .advantarges-top-info
                    h2.advantarges-title.section-title «Шоколавка» <br>в торговли 16 лет и<br> 10 собственных точек
                    p.model-bottom-left-info.advantarges_model Сеть кондитерских магазинов выстояла<br> в период пандемии, продолжает<br> развиваться и набирать обороты.
                    p.advantarges-top-info-text.text История компании началась 
                        span.fat в ноябре 2006 года 
                        |с открытия небольшой точки на освободившейся площади в торговом центре. К тому моменту у меня уже был 8-летний опыт работы в торговле, поэтому смогла быстро выстроить бизнес-процессы и расположить к себе покупателей. 
                        span.fat За короткое время получила много положительных отзывов и рекомендаций.
                    p.advantarges-top-info-text.m-b-n.text За время работы торговая сеть плотно закрепилась на локальном рынке и сегодня в г. Салават. 
                        span.fat На данный момент успешно работает 10 собственных точек.
                .advantarges-top-img
                    .advantarges-top-avtor
                        .advantarges-top-avtor-img  
                        p.company-avtor Елена Геннадьевна Волкова
                        p.company-type Собственник сети «Шоколавка»
            .advantarges-maps 
                .advantarges-maps-img 
                .advantarges-maps-info 
                    ul.advantarges-maps-list 
                        li.advantarges-maps-item г. Салават, Островского, 66
                        li.advantarges-maps-item г. Салават, Уфимская,122/4 ТЦ Арго
                        li.advantarges-maps-item г. Салават, Островского, 23
                        li.advantarges-maps-item ️г. Салават, Уфимская, 27а ТЦ Агромаркет
                        li.advantarges-maps-item г. Салават, Островского, 71а ТЦ Дружба
                        li.advantarges-maps-item ️г. Салават, Губкина, 17б  ТЦ Мария
                        li.advantarges-maps-item г. Салават, С. Юлаева, 69а
                        li.advantarges-maps-item ️г. Салават, Северная, 14 ТЦ Ортикон - Сити (Содис) бутик 35
                        li.advantarges-maps-item г. Салават, С. Юлаева, 8б ТЦ Велес
                        li.advantarges-maps-item ️г. Салават, Ленина, 53
                    .advantarges-maps-bottom Магазины открыты в торговых центрах, в жилых домах и отдельно стоящих помещениях площадью от 40 до 60 кв. м.
            .advantarges-bottom
                .advantarges-bottom-purpose
                    .advantarges-bottom-purpose-img 
                        img(src="img/advantages/photo.png", alt="")
                    .advantarges-bottom-purpose-title Моя цель
                    .advantarges-bottom-purpose-text — удовлетворить потребности клиентов в качественной продукции и вывести торговую сеть в лидеры продаж на рынке кондитерских изделий.
                .advantarges-bottom-info
                    .advantarges-bottom-info__text.text В 2021 году приняла решение 
                        span.fat развивать сеть по системе франчайзинга, 
                        |так как имею огромный опыт в масштабировании бизнеса и готова передавать свои наработки партнёрам. В будущем планирую запустить собственное кондитерское производство. 
                    .advantarges-bottom-info__text.text Работая по франшизе, партнёр значительно экономит время и финансы на открытие магазина, а также получает навыки формирования привлекательного для покупателей ассортимента.
                    .advantarges-bottom-info__text.text После заключения договора головной офис передаёт франчайзи все материалы и опробованные технологии для повторения успешного опыта компании.



