block asortiment
    section.asortiment(style="background-image:url(img/asortiment/bg.jpg);")
        .container 
            h2.asortiment-title.section-title.tac Широкий ассортимент сладостей <br>в каждой «Шоколавке»
            p.asortiment-subtitle.tac Магазины торговой сети 
                span.fat способны удовлетворить любые запросы покупателей<br>
                |и предоставляют большой выбор кондитерских изделий с многообразием вкусов, составов,<br> текстур, начинок, кремов, глазури и помадки.
            .asortiment-top 
                .asortiment-top__img 
                    img(src="../img/asortiment/candy.svg", alt="")
                .asortiment-top-text Благодаря богатому ассортименту ассортимент магазине сможет удовлетворить<br> самые изысканные вкусы сладкоежек
                .slick-slider
                    .center-content
                        .center-content__img 
                            img(src="img/asortiment/1.jpg", alt="")
                    .center-content 
                        .center-content__img 
                            img(src="img/asortiment/2.jpg", alt="")
                    .center-content
                        .center-content__img 
                            img(src="img/asortiment/3.jpg", alt="")
                    .center-content
                        .center-content__img 
                            img(src="img/asortiment/4.jpg", alt="")
                    .center-content
                        .center-content__img 
                            img(src="img/asortiment/5.jpg", alt="")
            .asortiment-bottom 
                .asortiment-bottom-img 
                .asortiment-bottom-info 
                    .asortiment-bottom-title Откройте собственный бизнес по франшизе «Шоколавка»
                    .asortiment-bottom-text Предлагайте покупателям разнообразные сладости на любой вкус
                    button.asortiment-bottom-btn.btn Присоединиться к франшизе

                       

