block footer
    footer.footer 
        button.away-modals 
        .container 
            .footer-inner 
                .footer-column  
                    p.footer__text ИП Волкова Елена Геннадьевна, <br> ИНН 26615823690
                    p.footer__text.flag_footer Россия, Республика <br> Башкортостан, г.Салават
                    a.policy.footer__text.footer__text_link(href="#") Политика конфиденциальности
                .footer-column
                    a.footer__logo(href="#")
                        img(src="img/footer/logo.svg", alt="")
                    a.footer-link(href="https://vk.com/club202727618" target="_blank")
                        img(src="img/footer/vk.png", alt="")
                .footer-column.footer-column_big  
                    .footer-phone
                        .footer-phone__img 
                            img(src="img/footer/tel.svg", alt="")
                        .footer-phone-inner
                            a.footer-phone__tel(href="tel:+79288405333")  8 (987) 145-00-05
                            button.footer-phone__back.footer__text  заказать звонок
                    a.footer__text.footer__text-images(href="https://xn--5-7sbamtgf4aex7b0b.xn--p1ai/") Упаковка и продвижение франшиз: «Франчайзинг5»
                    


                

                

