block format
    section.format
        .container
            .format-inner 
                h2.format-title.section-title.tac 2 формата открытия кондитерского магазина 
                p.types-subtitle.text.tac Франшиза «Шоколавка» предлагает организацию точки 
                    span.fat.red в формате отдельного магазина или павильона <br> в торговом центре. 
                    |Специалисты головной компании передают франчайзи практический опыт подбора локации, <br>проверенный на городах 
                    span.fat численностью от 63 тыс. до 1,125 млн жителей.
                .format-wrap 
                    .format-box(style="background-image:url(img/formats/1.jpg);")
                        .format-box-bottom Магазин
                    .format-box(style="background-image:url(img/formats/2.jpg);")
                        .format-box-bottom.left-bottom Павильон 
                            span в торговом центре
                .format-bottom.tac(style="background-image:url(img/formats/bottom-fon.png);") 
                    p.text В г. Салават 4 магазина находятся в помещениях с отдельным входом, 6 точек внутри торгового центра. Оба формата доказали свою эффективность и каждая торговая точка 
                        span.fat в среднем приносит от 230 000 рублей ежемесячно.

