block header
    header.header
        .container  
            .header-inner 
                a.logo(href="/") 
                    img(src="img/offer/logo.png", alt="PADRE строй")
                p.header__info Франшиза от компании 
                    span с 16-летним опытом
                .header-social
                    a.header__pnone(href="tel:89871450005") 8 (987) 145-00-05
                    button.header__calBack(type="button") 
                        |заказать звонок