block model
    section.model
        .modal-img-bottom 
        .container 
            h2.model-title.section-title Бизнес-модель:
                span.title-reg реализация в розницу кондитерских изделий 
            p.model-subtitle Франшиза «Шоколавка» предлагает торговлю сладостями 
                span.fat в офлайн-точках.
            h3.model-tap-title 4 этапа успешной работы <br>франчайзи-партнёра
            .model-inner 
                .model-box 
                    .model-box-top 
                        .model-box__img 
                            img(src="img/model/1.png", alt="")
                        .number 01
                    .model-box__text 
                        span.fat Получение товара 
                        |от головной компании и местных поставщиков, выкладка на полки магазина	
                .model-box 
                    .model-box-top 
                        .model-box__img 
                            img(src="img/model/2.png", alt="")
                        .number 02
                    .model-box__text 
                        span.fat Привлечение клиентов 
                        | через пешеходный трафик и соцсети
                .model-box 
                    .model-box-top 
                        .model-box__img 
                            img(src="img/model/3.png", alt="")
                        .number 03
                    .model-box__text 
                        span.fat Консультация 
                        |по выбору подходящего товара, продаж
                .model-box 
                    .model-box-top 
                        .model-box__img 
                            img(src="img/model/4.png", alt="")
                        .number 04
                    .model-box__text 
                        span.fat Работа над повышением качества 
                        |сервиса, для увеличения лояльности аудитории
            .model-bottom 
                .model-bottom-left 
                   .model-bottom-text.text Компания закупает продукцию у поставщиков в Башкирии и других регионов страны. В магазинах представлен широкий ассортимент кондитерских изделий известных российских производителей «Рот Фронт», «Победа», «Объединённые кондитеры» и других: конфеты, безе, рулеты, пирожные, рахат-лукум, мармелад, печенье, драже, вафли, кексы и другие.
                   .model-bottom-text.text Специалисты головной компании тщательно анализируют предпочтения клиентов каждой торговой точки, наличие новинок у поставщиков и ежемесячно актуализируют ассортимент, чтобы поддерживать интерес покупателей и повышать спрос.
                   .model-bottom-left-info 
                        .model-bottom-left__text Отработанная бизнес-модель «Шоколавки» 
                        span.red позволяет зарабатывать уже с 1-го 
                        |месяца после открытия магазина и получать постоянных клиентов.
                .model-bottom-right 
                    .model-bottom-right-title Узкоспециализированный магазин
                    .model-bottom-right-text Клиенты всё чаще отдают предпочтение узкоспециализированным магазинам у дома (овощи и фрукты, молочная продукция, сладости) и отказываются от посещения крупных ритейлеров, где не всегда представлен широкий ассортимент товаров.
                    .model-bottom-right-text «нишевых» торговых точках покупатели получают качественный сервис и консультацию, большой выбор товаров, возможность дегустации продуктов. Культура личного взаимодействия с продавцом остаётся привлекательной для многих клиентов и стимулирует регулярно совершать покупки.
       




