block offer
    section.offer(style="background-image:url(img/offer/bg.jpg);")
        .container
            .offer-inner 
                h1.offer-title
                    |Откройте магазин сладостей
                    span.title-reg по франшизе «Шоколавка»
                p.offer-subtitle
                    |с чистой прибылью 
                    span от 8 000 000 рублей в год <br> и рентабельностью 20%
                p.offer-text Разработана стратегическая устойчивость бизнес-модели: 
                    span 65% покупателей 
                    |при наличии выбора предпочитают профильные магазины
                .offer-slider
                    .swiper-slide 
                        .offer-item 
                            .offer-item__img 
                                img(src="img/offer/1.svg", alt="")
                            .offer-item__info 
                            span.fat.block Маржинальность товаров: 
                            |от 35%
                    .swiper-slide 
                        .offer-item 
                            .offer-item__img 
                                img(src="img/offer/2.svg", alt="")
                            .offer-item__info Подойдет для города с населением: 
                                span.fat от 150 000 человек
                    .swiper-slide 
                        .offer-item 
                            .offer-item__img 
                                img(src="img/offer/3.svg", alt="")
                            .offer-item__info Для старта достаточно павильона в торговом центре 
                                span.fat площадью 20-25 м<sup>2</sup> 
                .offer__man 
                    img(src="img/offer/women.png", alt="")
                button.btn.mob_btn.mob_form-offer Скачать презентацию
        .form-section.mob-section
            form.form-section-inner.sectionForm(action="#") 
                p.form-section-title 
                    |Узнайте больше информации о франшизе «Шоколавка» из презентации
                .form-section-wrap  
                    .form-section-row 
                        input.phone(type="text" name="phone" placeholder="+7 (___) ___ ___")
                    .form-section-row 
                        input(type="text" name="email" placeholder="bestpartner@shokolavka.ru") 
                    .form-section-row 
                        input(type="text" name="name" placeholder="Елена Волкова") 
                    button.btn.form-section-btn(type="submit") Скачать презентацию
                .form-section-bottom
                    <div class="pretty p-default p-fill p-svg">
                        <input type="checkbox" />
                        <div class="state p-success">
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                            </svg>
                            <label>Я подтверждаю, что ознакомлен и даю согласие на обработку персональных данных на условиях и для целей, определяемых <a href="#" class="policy">Политикой конфиденциальности</a></label>
                        </div>
                        
                    </div>

