block result 
    section.result(style="background-image:url(img/result/bg.jpg);") 
        .container 
            h2.result-title.section-title Основные финансовые показатели, <br>подтверждающие эффективность <br> франшизы «Шоколавка»
            p.result-subtitle Доходы, расходы и прибыль рассчитаны на основании фактических результатов <br>работы 11 магазинов торговой сети.
            ul.result-list 
                li.result-item 
                    .result-item-img 
                        img(src="img/result/item1.svg", alt="")
                    .result-item-info    
                        p.result-item-top Средние операционные доходы
                        p.result-item-bottom от 1 065 000 рублей
                li.result-item
                    .result-item-img 
                        img(src="img/result/item2.svg", alt="") 
                    .result-item-info  
                        p.result-item-top Инвестиции на запуск:
                        p.result-item-bottom от 1 650 000 рублей
                li.result-item 
                    .result-item-img 
                        img(src="img/result/3.svg", alt="")
                    .result-item-info  
                        p.result-item-top Операционные регулярные/периодические расходы:
                        p.result-item-bottom от 8 400 000 рублей
                li.result-item 
                    .result-item-img 
                        img(src="img/result/4.svg", alt="")
                    .result-item-info  
                        p.result-item-top Средняя ежемесячная прибыль:
                        p.result-item-bottom 230 000 рублей
                li.result-item 
                    .result-item-img 
                        img(src="img/result/5.svg", alt="")
                    .result-item-info  
                        p.result-item-top Период окупаемости:
                        p.result-item-bottom 10 месяцев
                li.result-item 
                    .result-item-img 
                        img(src="img/result/6.svg", alt="")
                    .result-item-info  
                        p.result-item-top Срок выхода на плановую прибыль:
                        p.result-item-bottom 4 месяца
                li.result-item 
                    .result-item-img 
                        img(src="img/result/7.svg", alt="")
                    .result-item-info  
                        p.result-item-top Рентабельность:
                        p.result-item-bottom 21,4%
                li.result-item 
                    p.result-item-text Для достижения партнёром высоких результатов <br>в короткие сроки специалисты ГК постоянно совершенствуют технологии маркетинга и повышают качество оказываемых услуг.