block shop
    section.shop
        .shop-images
            .container 
                h2.shop-title.section-title.tac Более 100 видов сладостей <br> на самый взыскательный вкус
                p.shop-subtitle.tac В каждом магазине уделяется особое внимание предпочтениям локальной аудитории, поэтому 85% покупателей становятся постоянными. Широкий ассортимент продукции и учёт потребностей мотивируют клиентов возвращаться за новыми вкусовыми ощущениями.
                .shop-content 
                    h4.shop-content-title.tac В магазинах представлены основные группы кондитерских изделий:
                    .shop-slider
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/1.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Печенье
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/2.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Мучные кондитерские изделия
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/3.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Пироженые
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/4.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Восточные сладости
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/5.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Шоколад
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/6.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Мармелад
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/7.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Фрукты в шоколаде
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/8.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Конфеты
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/9.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Дражже
                        .shop-slider-conetnt
                            .shop-slider-box-img 
                                img(src="img/shops/10.jpg", alt="")
                            .shop-slider-box-bottom 
                                p.shop-slider-box-title Цикорий, чай, кофе
                    .shop-bottom 
                        .shop-column
                            .shop-column-text Для правильного хранения запаса продукции предусмотрено сухой склад с температурным режимом, в котором созданы все необходимые условия хранения кондитерских изделий.
                            .shop-column-img
                                img(src="img/shops/col1.svg", alt="") 
                        .shop-column
                            .shop-column-text Для поддержания стабильного покупательского спроса в магазинах представлена продукция среднего и эконом вариантов.
                            .shop-column-img 
                                img(src="img/shops/col2.svg", alt="") 



