block start
    section.start
            .container 
                h2.start-title.section-title.tac Начало продаж через 30 дней<br>
                    span.title-reg после подписания договора
                p.start-subtitle.tac Для уверенного запуска бизнеса и стабильной работы магазина команда «Шоколавки» предлагает