block start
    section.start(style="background-image:url(img/start/bg.jpg);")
            .start-cokki
            .container 
                h2.start-title.section-title.tac Начало продаж через 30 дней<br>
                    span.title-reg после подписания договора
                p.start-subtitle.tac Для уверенного запуска бизнеса и стабильной работы магазина команда «Шоколавки» предлагает
                .start-info 3 пакета услуг стоимостью 
                    span.fat 190 000 ₽
                .start-inner 
                    .start-box 
                        .start-box-img 
                            img(src="img/start/1.png", alt="")
                        .start-box-top 
                            .start-box-title.tac Передача ноу-хау
                        .start-box-inner
                            .start-box-info 
                                .start-box-info__title.tac В состав услуг включена передача партнёру:
                                ul.start-box-info__list 
                                    li.start-box-info__item опробованных успешных технологий операционного управления, включая пошаговый план открытия
                                    li.start-box-info__item регламентов по стандартам работы магазина
                                    li.start-box-info__item ассортиментной матрицы продукции, разработанной на основе анализа спроса и анализа конкурентов
                                    li.start-box-info__item перечня оборудования и мебели, необходимой для запуска точки
                                    li.start-box-info__item перечня требований к выбору торгового помещения: локация, площадь, близость других магазинов, пешеходный трафик;
                                    li.start-box-info__item опробованных успешных технологий формирования команды, в т. ч. портреты целевых сотрудников и критерии отбора специалистов
                                .start-box-info__bottom 
                                    button.start-box-info__more Смотреть всё
                    .start-box 
                        .start-box-img 
                            img(src="img/start/2.png", alt="")
                        .start-box-top 
                            .start-box-title.tac Обучение
                        .start-box-inner
                            .start-box-info 
                                .start-box-info__title.tac Состав услуг:
                                ul.start-box-info__list 
                                    li.start-box-info__item Онлайн-встречи по стандартам работы магазина и операционному управлению
                                    li.start-box-info__item Консультации по выбору и регистрации кассового оборудования
                                    li.start-box-info__item Консультации по поиску торгового помещения, дистанционное согласование помещения
                                    li.start-box-info__item Консультации по ассортиментной матрице продукции торговой точки
                                    li.start-box-info__item Консультации по формированию запасов товара
                                    li.start-box-info__item Консультации по стандартам хранения и учёта товаров.
                                .start-box-info__bottom 
                                    button.start-box-info__more Смотреть всё
                    .start-box 
                        .start-box-img 
                            img(src="img/start/3.png", alt="")
                        .start-box-top 
                            .start-box-title.tac Обучение
                        .start-box-inner
                            .start-box-info 
                                .start-box-info__title.tac Дополнительная поддержка
                                    span на этапе запуска бизнеса
                                ul.start-box-info__list 
                                    li.start-box-info__item Подключение франчайзи-партнёра Мой склад 
                                    li.start-box-info__item Создание и наполнение аккаунтов в соцсетях и геолокационных сервисах
                                    li.start-box-info__item Передача маркетинговых материалов: правила оформления помещения, макет вывески, материалов для печати (листовки для раздачи промоутерами, ценники)
                                .start-box-info__bottom 
                                    button.start-box-info__more Смотреть всё
                .start-bottom 
                    .start-bottom-left 
                        p.model-bottom-left-info.start_model Благодаря отработанной бизнес-модели сети «Шоколавка» специализированный магазин сладостей выйдет 
                            span.red на планируемый уровень выручки через 2 месяца работы.
                    .start-bottom-right
                        .start-bottom-text.text Полноценная поддержка экспертов головной компании позволит 
                            span.fat выйти на положительный результат работы магазина в кратчайшие сроки, 
                            |сохранив при этом время <br>и деньги партнёра на поиски правильных бизнес- <br>решений и опробование технологий.
                        .start-bottom-text.text 
                            span.fat Общий объём инвестиций 
                            |на запуск магазина с учётом паушального взноса составляет ориентировочно 
                            span.fat 1,648 <br>млн руб., (в зависимости от региона)  из которых 40% занимает формирование товарного запаса.
                        .start-bottom-righ-title Мощная поддержка экспертов гарантирует успешное открытие магазина
                        .start-bottom-righ-btn.btn Получить поддержку
            .profit
                .container 
                    .profit-inner 
                        .profit-calc 
                            h2.start-title.section-title.tac Расчёт прибыли <br>
                                span.title-reg будущего магазина
                            .calc 
                        .profit-info 
                            .profit-info-title Прогноз важных финансовых показателей бизнеса — объёма продаж, выручки, прибыли 
                                span.fat за 2 минуты.
                            .profit-info-inner 
                                .profit-info-inner-subtitle Прибыль магазина в месяц:
                                .profit-info-inner-title 1 375 000
                                    span рублей
                                .profit-info-inner-bottom Отлаженные бизнес-процессы позволяют окупить инвестиции 
                                    span.fat уже за 10 месяцев.
                        


                            




