block types
    section.types(style="background-image:url(img/types/bg.jpg);")
        .container 
            .types-inner
                h2.types-title.section-title Посетители предпочитают<br> «Шоколавку» благодаря<br> широкому ассортименту <br> и высокому сервису
                p.types-subtitle.text Постоянные покупатели запустили сарафанное радио и охотно делятся впечатлениями с соседями и знакомыми, а также оставляют отзывы <br> в геолокационных сервисах. Вот некоторые из них:
                .types-slider
                    .types-slider-box
                        .types-slider-box-top 
                            .types-slider-info 
                                .types-slider-info-img   
                                    img(src="img/types/1.jpg", alt="")
                                .types-slider-info-name Ринат
                            .types-slider-diller
                                img(src="img/types/11.png", alt="")
                        .types-slider-box-bottom 
                            .types-slider-box-title Часто захожу в магазинчик после работы, чтобы купить вкусняшек жене и детям. Всегда удаётся удивить семейство чем-то новеньким. Продавцы всегда посоветуют, что выбрать
                    .types-slider-box
                        .types-slider-box-top 
                            .types-slider-info 
                                .types-slider-info-img   
                                    img(src="img/types/2.jpg", alt="")
                                .types-slider-info-name Ирина
                            .types-slider-diller
                                img(src="img/types/22.png", alt="")
                        .types-slider-box-bottom 
                            .types-slider-box-title Когда хочется чего-нибудь вкусненького, то всегда иду в «Шоколавку». Выбор просто поражает воображение! А главное, что всё всегда очень вкусное и свежее. Продавцы внимательные и помогают сделать выбор, если глаза разбежались.
                    .types-slider-box
                        .types-slider-box-top 
                            .types-slider-info 
                                .types-slider-info-img   
                                    img(src="img/types/3.jpg", alt="")
                                .types-slider-info-name Галина<br> Павловна
                            .types-slider-diller
                                img(src="img/types/33.png", alt="")
                        .types-slider-box-bottom 
                            .types-slider-box-title Всегда большой выбор конфет, а их вкус как в моём детстве. Значит в составе только качественные и натуральные продукты. Покупаю в магазинчике гостинцы внукам, они очень довольны.
                    .types-slider-box
                        .types-slider-box-top 
                            .types-slider-info 
                                .types-slider-info-img   
                                    img(src="img/types/4.jpg", alt="")
                                .types-slider-info-name Гуля
                            .types-slider-diller
                                img(src="img/types/44.png", alt="")
                        .types-slider-box-bottom 
                            .types-slider-box-title Я сладкоежка. Для меня «Шоколавка» — просто рай. Такого выбора я ещё не видела ни в одном магазине города. Рекомендую всем!
                    .types-slider-box
                        .types-slider-box-top 
                            .types-slider-info 
                                .types-slider-info-img   
                                    img(src="img/types/5.jpg", alt="")
                                .types-slider-info-name Света
                            .types-slider-diller
                                img(src="img/types/55.png", alt="")
                        .types-slider-box-bottom 
                            .types-slider-box-title Отличный магазин! Огромный выбор сладостей российских производителей. Трудно уйти без покупок — всегда беру больше, чем планировала, но ни разу не пожалела! Очень вкусно!
            .form-section 
                .form-section-inner 
                    p.form-section-title 
                        |Узнайте подробнее, за что покупатели любят «Шоколавку»
                    .form-section-wrap  
                        .form-section-row 
                            input(type="text" name="phone" placeholder="+7 (___) ___ ___")
                        .form-section-row 
                            input(type="text" name="email" placeholder="bestpartner@shokolavka.ru") 
                        .form-section-row 
                            input(type="text" name="name" placeholder="Елена Волкова") 
                        button.btn.form-section-btn Узнать подробнее
                    .form-section-bottom
                        <div class="pretty p-default p-fill p-svg">
                            <input type="checkbox" />
                            <div class="state p-success">
                                <svg class="svg svg-icon" viewBox="0 0 20 20">
                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                </svg>
                                <label>Я подтверждаю, что ознакомлен и даю согласие на обработку персональных данных на условиях и для целей, определяемых Политикой конфиденциальности</label>
                            </div>
                        </div>