.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(175, 175, 175, 0.9);
    transition: opacity 200ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    cursor: pointer;



    &.active {
        z-index: 10;
        opacity: 1; 
    }


    .modal-top {
        position: relative;

        @include mobile (){
            padding-top: 10px;
        }

        
    }

    .clouse {
        position: absolute;
        background: url(../../img/modals/close.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 1;

        @include mobile (){
            top: 12px;
        }
    }

    .modal-content {
        position: relative;
        z-index: 1;

        @include table(){
            flex-direction: column;
         }
    }

    .form-section-row {
        width: 100%;
        margin-bottom: 20px;

        @include mobile(){
            height: 40px;
         }
    }

    .modal-content-inner {
        position: relative;
        padding: 59px 71px 76px 61px;
        border-radius: 20px;
        background-color: white;
        width: 100%;
        max-width: 907px;
        z-index: 20;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     width: 96%;
        //     height: 95%;
        //     border: 2px solid #dedede;
        //     top: 3%;
        //     left: 2%;
        //     border-radius: 10px;
        //     z-index: 0;
        // }

        @include desctop(){
            padding: 45px 25px 54px 25px;
            height: auto;
            max-width: 850px;
            max-width: 80%;
         }
         @media only screen and( min-width: 600px ) and (max-width: 992px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio:3) {
            & {
                // position: absolute;
                top: 0;
                overflow: scroll;
                height: 100%;
            }
         }

         @media only screen and( min-width: 600px ) and (max-width: 992px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio:1) {
            & {
                // position: absolute;
                top: 0;
                overflow: scroll;
                height: 100%;
            }
         }

         

         

        @include mobile (){
            width: 300px;
            height: auto;
            position: relative;
        }
    }

    .modal-content__img {
        width: 365px;
        top: 40%;
        left: 8%;
        position: absolute;
        @include table(){
            display: none;
         }

         img {
            object-fit: contain;
         }
    }

    .modal-phone-img {
        width: 468px;
        height: 341px;
        bottom: 43px;
        left: -12%;
        top: 109px;

        @include desctop (){
            // width: 160px;
            // top: auto;
        }
    }

    .modal-content__img-big {
        width: 506px;
        top: 38%;
        left: -5%;
        position: absolute;
    }

    .modal-top__title {
        position: relative;
        z-index: 1;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
        color: #D71B4A;

        span.reg {
            font-weight: 400;
        }

        @include table(){
           text-align: center;
         }

        @include mobile (){
           font-size: 16px;
           margin-bottom: 20px;
        }
    }
    .small-titleForm {
        font-size: 22px;
    }

    .modal-away {
        padding: 60px 71px 121px 61px;
        @include mobile (){
            padding: 35px 15px 30px 15px;
         }
        


        .modal-content__img {
            width: 434px;
            height: 354px;
            top: 36%;
            left: -8%;
        }
    }

    .modal-politika {
        position: absolute;
        top: 0;
        overflow: scroll;
        height: 100%;
        max-width: 850px;
        margin: 40px 0;

        .clouse {
            position: static;
        }

        &::after {
            display: none;
        }

        @include desctop(){
            width: 80%;
          
         }

        &::-webkit-scrollbar {
            width: 0;
          }

        @include mobile (){
            width: 320px;
         }

        .modal-politika-text {
            margin-bottom: 20px;
            padding-left: 20px;

            &.fat {
                padding-left: 0;
                padding-left: 10px;
            }
        }

        div{

            @include mobile (){
                font-size: 12px !important;
             }
           
        }
    }

    .modal-download {
        .modal-content__img {
            width: 422px;
            top: 28%;
            left: -60px;
            height: 360px;
        }
    }

    

    .modal-callBack,
    .modal-company,
    .modal-download,
    .modal-prezentation,
    .modal-politika,
    .modal-away,
    .modal-video{
        display: none;

        &.active {
            display: block;
        }
    }

    .btn {
      width: 100%;   
    }

    .tandem-form-line {
        &:nth-child(1)::before {
            background-image: url(../../img/tandem/inp2.png);
        }

        &:nth-child(2)::before {
            background-image: url(../../img/tandem/inp1.png);
        }

        &:nth-child(3)::before {
            background-image: url(../../img/tandem/mail.png);
        }

    }

    .form-section-bottom {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #A4A6AA;
        margin-top: 20px;
        text-align: start;
        

        a {
            color: #686363;
            text-decoration: underline;
            position: relative;
            z-index: 3;

            @include mobile (){
                font-size: 12px !important;
                display: block;
                text-indent: 0;
             }
        }

        .pretty {
            white-space: inherit;

            svg {
                top: calc((96% - (100% - 1em)) - 8%) !important;
            }
        }

        .pretty .state label:after, .pretty .state label:before {
            top: calc((95% - (100% - 1em)) - 7%);
        }

        
    }

    .sectionForm {
        max-width: 355px;
        width: 100%;
    
        @include desctop (){
            max-width: 40%;
        }
    
        @include table (){
            max-width: 100%;
        }
    }
    
}



